body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-center {
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    max-width: 200px; 
    max-height: 150px;
}
.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.btn {
    background-color: white;
    color: black;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
}

.btn:hover {
    background-color: gold;
}
.about-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-image {
    flex: 1;
    max-width: 50%;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

.about-text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: black; /* Letras negras */
}

.about-text p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
    color: black; /* Letras negras */
}

.download-buttons {
    display: flex;
    gap: 20px;
    justify-content: left;
}

.btn {
    background-color: black; /* Botones negros */
    color: white; /* Letras blancas */
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
}

.btn:hover {
    background-color: gold;
    color: black; /* Letras negras al pasar el ratón */
}

.app-store {
    background-color: black;
    color: white;
}

.google-play {
    background-color: black;
    color: white;
}
.brawl-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f0f0f0; /* Fondo gris claro para diferenciar la sección */
}

.brawl-text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.brawl-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
}

.brawl-text p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
    color: black;
}

.brawl-images-container {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brawl-images-container img {
    max-width: 48%;
    height: auto;
    border-radius: 10px;
}

.brawlers-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.brawlers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.brawlers-header input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.brawlers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.brawler-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.8);
}

.brawler-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #3e3e3e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#brawler-details p {
    font-size: 16px;
    margin-bottom: 10px;
}
#brawler-details img {
    max-width: 200px;
    margin-bottom: 20px;
}
.favorites-section {
    padding: 20px;
    min-height: auto;
}

.favorites-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}


.remove-favorite {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.login-page {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Ajusta la altura para que ocupe la pantalla */
}

.login-container {
    width: 400px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #a8a8a8;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container p {
    text-align: center;
    margin-top: 20px;
}

.login-image {
    width: 500px;
    margin-left: 40px;
}

.login-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
}
.signup-page {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Ajusta la altura para que ocupe la pantalla */
}

.signup-container {
    width: 400px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #777777;
}
 
.signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
}

.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #616161;
    border-radius: 4px;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #0056b3;
}

.signup-container p {
    text-align: center;
    margin-top: 20px;
}

.signup-image {
    width: 500px;
    margin-left: 40px;
}

.signup-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Ajusta la altura para que ocupe la pantalla */
}

.contact-container {
    width: 500px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #858585;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container p {
    text-align: center;
    margin-bottom: 30px;
}

.contact-container label {
    display: block;
    margin-bottom: 5px;
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-container textarea {
    resize: vertical;
}

.contact-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-container button:hover {
    background-color: #0056b3;
}
.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Ajusta la altura para que ocupe la pantalla */
}

.profile-container {
    width: 600px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #5d5d5d;
}

.profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}

.profile-details p {
    margin-bottom: 10px;
}

